@import 'links.css';

.footer {
    width: 1058px;
    height: 239px;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;

}

.footer__body {
    display: flex;
}

.footer__logo {
    margin-bottom: 18px;
}

.footer__contacts {
    margin-right: 86px;
}

.footer__contacts_head {
    font-family: 'Roboto Bold';
    font-size: 13px;
    margin-bottom: 13px;
    color: #0f5f5c;
}

.footer__contacts_text {
    color: #83a7a5;
    font-family: 'Roboto Regular';
    font-size: 13px;
}

.footer__company {
    margin-right: 205px;
}

.footer__company_head {
    font-family: 'Roboto Bold';
    font-size: 13px;
    color: #0f5f5c;
    margin-bottom: 24px;
}

.footer__company_text {
    font-family: 'Roboto Regular';
    font-size: 13px;
    color: #83a7a5;
    margin-bottom: 13px;
}

.footer__others {
    margin-right: 185px;
}


.footer__others_head{
    font-family: 'Roboto Bold';
    font-size: 13px;
    color: #0f5f5c;
    margin-bottom: 24px;
}

.footer__others_text {
    font-family: 'Roboto Regular';
    font-size: 13px;
    color: #83a7a5;
    margin-bottom: 13px;
}

.footer__newsletter_head {
    font-family: 'Roboto Bold';
    font-size: 13px;
    color: #0f5f5c;
    margin-bottom: 24px;
}

.footer__newsletter_text {
    font-family: 'Roboto Regular';
    font-size: 13px;
    color: #83a7a5;
    margin-bottom: 13px;
}

.footer__enter-email {
    width: 241px;
    height: 36px;
    border-radius: 3px;
    border: none;
    background-color: #eef1ec;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
}

.footer__enter-email::placeholder {
    font-family: 'Roboto Regular';
    font-size: 13px;
    color: #83a7a5;

}

.footer__enter-email-icon {
    color: #6fb048;
    position: relative;

    top:-30px;
    right: -208px;
}

.footer__rights {
    font-family: 'Roboto Regular';
    font-size: 12px;
    color: #83a7a5;
    margin-top: 27px;
}

.footer__shape {
    width: 1055px;
    height: 1px;
    background-color: #eef1ec;
}

